.userSettings{
	position: fixed;
	top: 50%;
  	left: 50%;
  	transform:translate(-50%,-50%);
	height: 40%;
	width: 40%;
	min-width: 350px;
	border-radius: 5px;
	border: gray 1px solid;
	background-color: rgb(230,230,230);
	text-align: center;
	z-index: 99;
}

.userSettings h3{
	margin-bottom: 0;
}

.userSettings h2{
	margin-top: 0;
}

.userSettings button{
	font-size: 15px;
	background-color: rgb(100,100,100);
	border-radius: 5px;
	margin-top: 10px;
	padding: 5px 10px;
	transition-duration: .4s;
}

.userSettings button:hover{
	background-color: white;
	transition-duration: .4s;
}

.userSettings button:active{
	transform: translateY(5px);
	transition-duration: .1s;
}
