.message input{
	width: 100%;
	padding: 5px 5px;
	font-size: 15px;
	position: absolute;
	bottom: 0px;
	margin-top: 5px;
}

.chat{
	border: solid gray 1px;
	width: 75%;
	margin-left: 241px;
	background-color: rgb(230,230,230);
	border-radius: 5px;
	min-height: 551px;
	position: relative;
}

.chat p, .chat span{
	margin: 10px 5px;
	padding: 10px;
	border-radius: 5px; 
}

.chat .text, .chat .translated{
	word-wrap: break-word;
}

.chat .text{
	background-color: lightblue;
}

.chat .translated{
	background-color: rgba(205,92,92);
	margin-bottom: 40px; 
}

.chat li{
	list-style: none;
}

