.login img{
	height: 400px;
	display: block;
	margin: 0 auto;
}

.login .form{
	margin: 0 auto;
	margin-bottom: 30px;
}

.login .form input, .login .form select, .login .form button{
	display: block;
	margin: 10px auto;
	border-radius: 20px;
	text-align: center;
	border: none;
	padding: 7px 50px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.5);
}

.login .switch{
	text-align: center;
	margin-bottom: 50px;
}

.login .form button{
	background-color: rgb(20,20,20);
	color: white;
}

.login .form button:hover{
	background-color: gray;
}

.login .form button:active{
	transform: translateY(5px);
}

.login .switch button{
	border: none;
	background-color: rgba(0,0,0,0);
	font-size: 15px;
	color: white;
}

