.controls{
	border: solid gray 1px;
	background-color: rgb(230,230,230);
	border-radius: 5px;
}

.convosList{
	display: inline-block;
	position: fixed;
	overflow: scroll;
}

.convosList h2{
	width: 100%;
	text-align: center;
}

.list{
	border: solid gray 1px;
	background-color: rgb(230,230,230);
	border-radius: 5px;
}

.settings img, .create img{
	height: 40px;
	margin: 5px;
	margin-bottom: 15px;
}

.search img{
	height: 30px;
	margin-right: 5px;
}

.settings, .create, .search{
	border: none;
	background-color: rgb(230,230,230);
}

.logo{
	margin: 0 32px;
	height: 75px;
}

.convos li{
	list-style: none;
}

ul button{
	width: 100%;
	border: none;
	font-size: 20px;
	padding: 20px 0;
	background-color: rgb(230,230,230);
}

ul button:hover{
	background-color: gray; 
}

.searchConvo{
	margin: 5px 0; 
}

.searchConvo input{
	text-align: center;
	margin: 0 5px;
	border-radius: 5px;
	width: 150px;
	background-color: gray;
	border: none;
	padding: 7px 22px;
	font-size: 15px;
	color: black;
}

.searchConvo ::placeholder{
	color: rgb(20,20,20);
}

